.leftAside {
    color: #ccc;
    text-align: center;
}

.leftAside > header:before {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    width: 2em;
    right: -2em;
    background: rgba(32, 178, 170, .6);
    position: absolute;
}

.leftAside > header:after {
    content: "";
    display: block;
    border: 1em solid;
    border-color: rgba(32, 178, 170, .8) transparent transparent rgba(32, 178, 170, .8);
    right: -2em;
    bottom: -2em;
    position: absolute;
}

.leftAside > header {
    display: flex;
    flex-direction: column;
    cursor: default;
    position: relative;
}

.leftAside > header > h2 {
    overflow: hidden;
}

.leftAside > header timer, .leftAside > header h2 {
    font-size: 1.5em;
    font-weight: normal;
    height: 1.5em;
    line-height: 1.5em;
    background: rgba(32, 178, 170, .6);
}

.asideBar > ul > li {
    display: block;
    font-size: 1em;
    height: 3em;
    line-height: 3em;
    letter-spacing: .2em;
    font-weight: normal;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
    user-select: none;
}

.asideBar > ul > li:hover {
    color: lightseagreen;
    font-weight: bolder;
    background: rgba(0, 0, 0, .3);
}









