.TodoItem {
    width: 48em;
    padding: .75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TodoItem > input {
    width: 5vw;
}

.TodoItem > .title {
    flex-grow: 1;
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    padding: 0 .75em;
    width: 85vw;
    overflow-wrap: break-word;
}

.TodoItem > button {
    font-size: 18px;
    padding: .45em .9em;
    border-radius: .75em;
    outline: none;
    border: none;
    color: rgba(247, 247, 247, .9);
    background: lightseagreen;
    cursor: pointer;
    user-select: none;
    width: 10vw;
}

.TodoItem > button:hover {
    color: rgba(247, 247, 247, 1);
    background: #1ea8a0;
}




