.TodoInput {
     font-size: 24px;
     font-family: "Microsoft Yahei",sans-serif;
     color: rgba(0,0,0,.8);
     width: 32em;
     line-height: 1.8;
     margin-bottom: 1em;
     border: none;
     outline: 1px solid lightseagreen;
     padding: .2em;
 }

.TodoInput::placeholder{
    text-align: center;
    font-size: .8em;
    user-select: none;
}