.UserDialog-Wrapper {
    /* 全屏 */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top right, rgba(222, 222, 222, 0), rgba(0, 0, 0, .8));
    /* 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserDialog {
    min-width: 16em;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.35);
    background: #fff;
    padding-bottom: 1em;
}

.UserDialog:before {
    content: "";
    display: block;
    height: 8px;
    border-radius: 16px 16px 0 0;
    background: linear-gradient(to right, RGB(195, 226, 121), RGB(247, 254, 200), RGB(255, 208, 105), RGB(242, 118, 105), RGB(220, 156, 190), RGB(197, 154, 224));
}

/* 注册 登录 */
.signInOrSignUp > nav {
    height: 2.5em;
    line-height: 2.5;
    position: relative;
}

.signInOrSignUp > nav label {
    user-select: none;
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
}

/* 所有标题公共样式 */
.signInOrSignUp > nav label, .forgetPassword h3 {
    font-size: 1em;
    font-weight: lighter;
    color: #aaa;
    text-align: center;
    cursor: pointer;
    background: RGB(247, 247, 247);
    height: 2.5em;
    line-height: 2.5;
}

/* 标题公共样式结束 */

.signInOrSignUp > nav label[for="signUp"] {
    background: rgba(222, 222, 222, .6);
    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, .2);
}

.signInOrSignUp > nav label:nth-child(1) {
    left: 0
}

.signInOrSignUp > nav label:nth-child(2) {
    right: 0;
}

.signInOrSignUp > nav input {
    display: none;
}

/* 所有输入框 */
.signInOrSignUp > .panes label, .forgetPassword label {
    display: none;
}

.signInOrSignUp > .panes input, .forgetPassword input {
    font-weight: lighter;
    font-size: 1em;
    display: block;
    margin: 1em auto;
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
}

/* 输入框结束 */

/* 所有按钮 */
.UserDialog button {
    font-weight: lighter;
    font-size: 1em;
    color: rgb(247, 247, 247);
    display: block;
    margin: 0 auto;
    padding: .4em 1.6em;
    border-radius: 6px;
    outline: none;
    border: none;
    background: lightcoral;
    cursor: pointer;
}

.UserDialog button:hover {
    background: #f37070;
}

/* 按钮结束 */

/* UserDialog中所有a标签 */
.UserDialog .action {
    text-align: center;
}

.UserDialog a {
    font-size: .6em;
    color: blue;
    display: inline-block;
    margin: 1em auto 0;
}

.UserDialog a:active {
    color: darkred;
}

.UserDialog a:visited {
    color: darkred;
}

/* 重置密码 */




